<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>

    <main>
      <%- include('partials/slides') %> <%- include('partials/banner') %> <%-
      include('partials/tabs') %> <%- include('partials/services') %> <%-
      include('partials/hours') %> <%- include('partials/gallery') %> <%-
      include('partials/brands') %><%- include('partials/stats') %> <%-
      include('partials/staff') %> <%- include('partials/offers') %> <%-
      include('partials/logo-large') %> <%- include('partials/contact') %>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
